/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}



header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

 #nightflix-logo{
     color: #e50914;    
     height: 36px;
     width: 134px;
     font-family: graphique, sans-serif;
     direction: ltr;
    font-size: 36px;
    margin-left: 56px;
    letter-spacing: 2px;
    padding-top: 8px;
    cursor: default;
 }

 .netflix-img{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(https://assets.nflxext.com/ffe/siteui/vlv3/d49b6ea4-5a64-4996-a004-9d4d4f32839a/21515da9-d9b4-4702-8393-6cfcca6ee297/US-en-20200817-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
 }

.sign-in-block{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.75);
    flex-direction: column;
    width: 450px;
    height: 550px;
  
}

.reg-text {
    color: white;
    font-size: 16px;
}

.sign-q{
    font-size: 16px;
    color: #8c8c8c;
}

.auth-title{ 
    font-size: 32px;
    color: white;
    margin-top: 60px;
    font-family: sans-serif;
}

.login-input{
    top: 50%;
    color: #8c8c8c;
    padding: 10px;
    width: 314px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    background-color: hsla(0, 0%, 25%, 0.75);
    font-family: sans-serif;
}

.pass{
    margin-bottom: 40px;
}


.session-submit{
background-color:#e50914;
color: white;
width: 100%;
border-radius: 4px;
padding: 10px;
margin-bottom: 30px;
font-weight: 700;
max-width: 100%;
border: 0;
box-sizing: border-box;
letter-spacing: .2px;
font-size: 16px;
height: 50px;
cursor: pointer;
font-family: sans-serif;
}

.demo-btn{
background-color:#e50914;
color: white;
width: 100%;
border-radius: 4px;
padding: 10px;
margin-bottom: 30px;
margin-top: 15px;
font-weight: 700;
max-width: 100%;
border: 0;
box-sizing: border-box;
letter-spacing: .2px;
font-size: 16px;
height: 50px;
cursor: pointer;
font-family: sans-serif;
}


.sign-link{
    text-decoration: none;
    font-size: 17px;
    color: white;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.sign-link:hover{
   text-decoration: underline;
}

.login-signup{
    display: flex;
    justify-content: flex-start;
    font-family: sans-serif;
}


/* /////// ----SPLASH PAGE-----/////////// */ 

.splash-page{
    width: 100%;
    height: 100%;
    display: flex;
}
/* /////// ----Home Nav Bar-----/////////// */ 

.home-nav-bar{
    width: 100%;
    height: 68px;
    float: left;
    padding: 0 3.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.left-nav #nightflix-logo{
    font-size: 25px;
    float: left;
}

.home-tabs{
  float: left;
  line-height: 1.2;
  padding-left: 40px;
  align-items: center;
  padding-top: 12px;
  background: transparent;
}
.home-nav-bar > 
.right-nav >
 .logout-button{
   align-self: flex-end;
   cursor: pointer;
    margin-right: 115px;
    line-height: normal;
    background-color: #e50914;
    padding: 7px 17px;
    float: right;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    border: 0;
}

.left-nav ul li{
    display: inline-block;
    color: white;
    font-size: 14px;
    cursor: pointer;
   height: 100%;
   font-weight: 100;
   text-decoration: none;
   letter-spacing: .9px;
   margin-left: 25px;
   font-family:  Arial,  sans-serif;
}


/* /////// ----Nav BAR-----/////////// */ 

.nav-bar{
    width: 100%;
    height: 145px;
    margin: 0 3.5rem;
    position: relative;
    padding-top: 20px;
    overflow: hidden;
    z-index: 4;
}


.left-bar h1{
    float: left;
}

.splash-sign-in {
    margin-right: 56px;
    line-height: normal;
    background-color: #e50914;
    padding: 7px 17px;
    float: right;
    font-size: 16px;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    color: white;
    border: 0;
}


/* /////// ----AD info-----/////////// */ 

.ad-text{
     text-align: center;
     margin: 75px auto 0 auto;
      color: white;
    font-size: 3.125rem;
    max-width: 640px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    width: 100%;
}


.ad-text h1{
    font-family: sans-serif;
    line-height: 1.1;
    font-weight: 600;
}

.ad-text span {
    font-size: 1.625rem;
    text-align: center;
    line-height: 1.1;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 16px auto;
     font-weight: 300;
}

.video-title{   
    color: white;
}


